@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html, body{

    background-color: rgb(239, 242, 245);
}
.HomeHeader {
    background-color: rgb(211, 28, 28);
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
#new{
    background-color: whitesmoke;
    width: 600px;
    padding: 20px;
    text-align: center;
    margin: 20px auto;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(230, 227, 227);
}
/* main > div > p{
    font-size: 18px;
}
main > div > a{
    font-size: 14px;
} */
.input-food{
    padding: 5px 8px;
    margin: 10px;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgb(230, 227, 227);
}
.save-food{
    padding: 5px 8px;
    margin: 5px;
    background-color: rgb(211, 28, 28);
    color: white;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgb(230, 227, 227);
}
.fooditem
{
    background-color:whitesmoke;
    margin: 20px auto;
    text-align: center;
    width: 600px;
    list-style: none;
    box-shadow: 5px 5px 10px rgb(230, 227, 227);
}
#list-items .listitem{
    padding: 5px;
    border: 1px solid rgb(230, 227, 227);
    margin: 5px;
    color: rgb(7, 7, 7);
    box-shadow: 5px 5px 10px rgb(230, 227, 227);
    border-radius: 5px;
    text-transform: capitalize;
}
/*Command to highlight on the text*/ 
#list-items .listitem:hover{
    background-color: rgb(211, 28, 28);
    color: white;
}
.alert{
    padding: 15px 10px 10px 10px;
    background-color: whitesmoke;
    border-radius: 5px;
    /* border-left: 5px solid green; */
    width: 600px;
    text-align: center;
    margin: 15px auto;
    box-shadow: 5px 5px 10px rgb(230, 227, 227);
    display: flex;
    justify-content: space-between;
}
.alert button{
    border: none;
    color: black;
    cursor: pointer;
}