#div1{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
}
@keyframes myanimation{
    0%{
        background-color: red;
        left: 0%;
    }
    100%{
        background-color: blue;
        left: 92vw;
    }
}
#buttons{
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
}
button{
    margin-top: 10%;
    margin-left: 45vw;
}

#loginbox{
    background-color: whitesmoke;
    width: 600px;
    padding: 20px;
    text-align: center;
    margin: 20px auto;
    font-family: 'Poppins', sans-serif;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgb(230, 227, 227);
}
#Header{
    padding: 20px;
    background-color: rgb(211, 28, 28);
    color: white;
    text-align: center;
    width: 600px;
    border-radius: 5px;
    text-transform: capitalize;
    margin: 20px auto;
    box-shadow: 5px 5px 10px rgb(230, 227, 227);
}
#submit_button{
    padding: 5px 8px;
    margin: 5px;
    background-color: rgb(211, 28, 28);
    color: white;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgb(230, 227, 227);
}
#i1{
    border-radius: 5px;
}
#i2{
    border-radius: 5px;
}



#circle{
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    display : inline-block;
}

#oval{
    width: 200px;
    height: 100px;
    box-sizing: border-box;
    display: inline-block;
}